
/* LETTERING */
/*
position: absolute;
max-width: 450px;
  transform: translate(-50%, -50%);
*/
.lettering{
	top: 50%;
	left: 50%;
	display: block;
}

/*
transform: translateX(-50%) rotate(-10deg);
*/
.title {
	transform: translateX(-50%) rotate(-10deg);
	display: block;
	float: left;
	left: 50%;
	position: relative;
}
.title span {
	transform: skew(-10deg);
	display: block;
	float: left;
	text-shadow: black 1px 1px, black 2px 2px, black 3px 3px, black 4px 4px, black 5px 5px, black 6px 6px;
	min-width: 10px;
	min-height: 10px;
	position: relative;
}
.title:nth-child(1) {
	color: #e55643;
}
.title:nth-child(2) {
	color: #2b9f5e;
}
.title:nth-child(3) {
	color: skyblue;
}

/*
	bottom: -65px;
	left: 50%;
	transform: translateX(-50%) rotate(-10deg);
*/
.button {
	float: left;
	position: relative;
	color: #e55643;
	text-transform: uppercase;
	cursor: pointer;
}
.button span {
	transform: skew(-10deg);
	display: block;
	float: left;
	text-shadow: black 1px 1px, black 2px 2px, black 3px 3px, black 4px 4px;
}
/* LETTERING */




#wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#header {
  padding: 80px 50px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
}
#header h1 {
  font-size: 65px;
}
#header p {
  margin-top: 15px;
  font-size: 17px;
  line-height: 160%;
}

#footer {
  margin-top: 240px;
  padding: 0 50px;
  height: 40px;
  background-color: #222;
}

#footer a {
  display: block;
  line-height: 40px;
  font-family: monospace;
  letter-spacing: 1px;
  text-align: right;
  color: #fff;
}



.container {
  margin-top: 40px;
  padding: 0 50px;
}
.container h2 {
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing:-1px;
}
.container .h2_text {
  margin-bottom: 10px;
  padding-bottom: 80px;
  font-size: 14px;
  line-height: 140%;
}
.container .icon-round {
  width: 150px;
  height: 150px;
  margin: 120px 0;
  color: #fff;
  font-size: 22px;
  line-height: 150px;
  text-align: center;
  background-color: #ccc6db;
  border-radius: 100%;
}

.trigger {
  padding: 5px 10px;
  font-weight: bold;
  font-size: 16px;
  color: #6332F6;
  background-color: #eee;
}
